version: '3.8'

services:
  api:
    build: .
    ports:
      - "8080:8080"
    env_file:
      - .env
    volumes:
      - ./:/app
    command: uvicorn main:app --host 0.0.0.0 --port 8080 --reload
    environment:
      - ENVIRONMENT=development
    networks:
      - capmatch

networks:
  capmatch:
    driver: bridge
